@model IEnumerable<FoodDTO>
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <div style="display: flex;">
                <h4 class="card-title">Foods</h4>
                <a asp-controller="Admin" asp-action="AddFood" style="position: absolute;right: 15%;">
                    <div class="badge badge-outline-success">Create Food</div>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Id </th>
                            <th> Title</th>
                            <th> Image </th>
                            <th> Price</th>
                            <th> Description </th>
                            <th>Catefgory</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>

                                <td>@item.Title</td>
                                <td>
                                    <img src="@item.Image" alt="image">
                                </td>
                                <td>@item.Price</td>
                                <td>@item.Description</td>
                                <td>
                                    @foreach (var i in @item.Categorys)
                                    {


                                        <div class="badge badge-outline-primary">
                                            <a asp-action="DeleteFoodCategory" asp-controller="Food" asp-route-CatId="@i.Id"
                                                asp-route-FoodId="@item.Id"
                                                style="width: 20px;display: inline-block;text-align: left;"
                                                class="mdi mdi-close"></a>
                                            @i.Title
                                        </div>

                                    }

                                </td>
                                <td>
                                    <select onchange="addcategory(@item.Id)" name="Role"
                                        @{
                                            string selectid = "dropdownMenuButton1"+item.Id;
                                        }
                                        class="btn btn-primary dropdown-toggle" type="button" id="@selectid"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <option selected="" value="Admin">Select Category</option>
                                        @foreach (var cat in (IEnumerable<CategoryDTO>)ViewData["Category"])
                                        {
                                            <option value="@cat.Id">@cat.Title</option>
                                        }
                                    </select>
                                </td>

                                <td>
                                    <a asp-action="DeleteFood" asp-controller="Food" asp-route-Id="@item.Id">
                                        <div class="badge badge-outline-danger">Remove</div>
                                    </a>
                                    <a asp-action="UpdateFood" asp-controller="Admin" asp-route-Id="@item.Id">
                                        <div class="badge badge-outline-primary">Update</div>
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    function addcategory(foodid) {
        var catid = document.getElementById(`dropdownMenuButton1${foodid}`).value
        $.get("/Food/AddFoodCategory?CatId=" + catid + "&FoodId=" + foodid, function (html) {
            location.reload();
        });

    }
</script>